@import "tailwindcss";

:root {
  /* Forzamos el NEGRO (#000000) siempre */
  --background: #000000;
  --foreground: #ffffff;
}

/* Aunque prefieran modo claro, nosotros usamos oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: #000000; /* Fondo negro obligatorio */
  color: #ffffff;      /* Texto blanco */
  font-family: Arial, Helvetica, sans-serif;
}

/* Utilidad para ocultar la barra de scroll pero permitir el deslizamiento */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}